---
http_interactions:
- request:
    method: get
    uri: http://www.okcupid.com/locquery?func=query&query=Ann%20Arbor,%20MI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"status" : 0, "ZipCode" : "", "query" : "Ann Arbor, MI", "locid"
        : 4305734, "results" : [{"locid" : 4305734, "text" : "Ann Arbor"}]}

'
  recorded_at: Sat, 24 Mar 2012 02:10:23 GMT
recorded_with: VCR 2.0.0
