---
http_interactions:
- request:
    method: get
    uri: http://www.okcupid.com/locquery?func=query&query=Cincinnati,%20Ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"status" : 0, "query" : "Cincinnati, Ohio", "results" : [{"locid"
        : 4164146, "text" : "Cincinnati"}, {"locid" : 4344665, "text" : "Cincinnati"}],
        "locid" : 0}

'
  recorded_at: Sun, 25 Mar 2012 04:56:31 GMT
recorded_with: VCR 2.0.0
