---
http_interactions:
- request:
    method: get
    uri: http://www.okcupid.com/locquery?func=query&query=Boise,%20Idaho
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"status" : 0, "ZipCode" : "", "query" : "Boise, Idaho", "locid"
        : 4356487, "results" : [{"locid" : 4356487, "text" : "Boise"}]}

'
  recorded_at: Sun, 25 Mar 2012 04:53:35 GMT
recorded_with: VCR 2.0.0
